.welcome{
    font-size: 3em;
    background-image: linear-gradient(to right, rgb(177, 177, 103), rgb(221, 144, 211));
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border-radius: 10px;
}
.green-color{
    color: rgb(5, 85, 5);
}
.centre{
    text-align: center;
}
.flex{
    display: flex;
    margin-top: 10px;

}
.skip-diet {
    
    font-size: 2em;
    margin-top: 10%;   
    color: gray;
}
.skip-diet p {
    font-size: 20px;
    color: black;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.link-button{
    background-image: linear-gradient(green , cyan);
    padding: 15px;
    text-decoration: none;
    border-radius: 40px;
    color: white;   
}
.background-img {
    background-image: url(images/shapes/frame-3.jpg);
    background-repeat: no-repeat;
    padding-top: 5%;
    border-radius: 20px;
}
.about-me{
    margin-top: 100px;
    margin-bottom: 8%;
}

.about-me h1 {
    font-size: 2em;
    padding-top: 10%;
}
.about-me p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 50px;

}
.link-button-aboutme {
    font-size: 2em;
    background-image: linear-gradient(green , cyan);
    padding: 15px;
    text-decoration: none;
    border-radius: 40px;
    color: white;
}
.my-recipes {
    text-align: center;
    width: 50%;
    padding-left: 25%;
    color: gray;
}
.my-recipes p {
    font-size: 20px;
}
.size-management img{
    width: 80%;   
}

.box-shadow {
    border: 1px solid rgb(255, 255, 255);
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 40px black;
    border-radius: 20px;
}
.recipe {
    margin-left: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.info {
    width: 20%;
    padding-left: 10%;
    text-align: center;
}
.info h1 {
    font-size: 2em;
}
.border-shadow {
    border: 1px solid white;
    box-shadow: 1px 1px 25px black;
    border-radius: 10px;
    width: 60%;
    margin-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 230px;
    padding-right: 230px;
    text-align: center;
    margin-bottom: 100px;

}